<div class="homebg">
	<%= link_to "Facebook", 'http://facebook.com/LEsbroufe', :target => "_blank", class: "btn btn-primary btn-lg" %>
<%= link_to "Twitter", 'http://Twitter.com/LEsbroufe', :target => "_blank", class: "btn btn-info btn-lg" %>
<%= link_to "Soundcloud", 'http://Soundcloud.com/lesbroufe', :target => "_blank", class: "btn btn-warning btn-lg" %>
</div>

<div class="container text-center">

	<iframe src="//player.vimeo.com/video/67592796" width="1200" height="781" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/67592796">Ephémère Amour - L'esbroufe</a> from <a href="http://vimeo.com/lesbroufe">L&#039;Esbroufe</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>




